*{
   --accent-color: #006064;

   --neutral-lighter-color: #FAFAFA;
   --neutral-light-color: #EEEEEE;
   --neutral-silver-color: #B0BEC5;
   --neutral-faded-color: #757575;
	--neutral-color: #424242;
   --neutral-dark-color: #212121;
}
