/* ========== * ========== * ========== * ==========
 * Font
 * ========== * ========== * ========== * ==========
 */
@font-face{
	font-family: "Roboto";
	src: url("../res/font/Roboto-Regular.ttf");
}



/* ========== * ========== * ========== * ==========
 * Reset
 * ========== * ========== * ========== * ==========
 */
/*
 *	All elements:
 */
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   border: none;
   background: none;
   font-family: Roboto;

   color: var(--neutral-dark-color);
}


/*
 *	Specific elements:
 */
span:hover{
   cursor: default;
}
a{
   text-decoration: none;
}
ul{
	list-style: none;
}
button:hover, button *:hover{
	cursor: pointer;
}
button:focus, input:focus, select:focus{
   outline: none;
}
footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
}


/*
 *	Body:
 */
body{
   background: var(--neutral-lighter-color);
   width: 100%;
   height: 100%;
   overflow-x: hidden;
}



/* ========== * ========== * ========== * ==========
 * Util classes
 * ========== * ========== * ========== * ==========
 */
/*
 *	Regions:
 */
.app-bar{
	position: relative;
	display: block;
	width: 100%;/*
	padding: 1.5em 1.5em 2em 1.5em;*/
	font-size: 1.2em;
}
.app-bar > *{
	padding: 1.5em;
	vertical-align: middle;
}
.app-bar .fab{
	display: inline-block;
	background: none !important;
	margin: 0.5em;
	padding: 0.4em;
	font-size: 1.7em;
	box-shadow: none;
}

.tabs-container{
	position: relative;
	padding: 0;
}
.tabs-container > .tab{
	position: relative;
	display: inline-block;
	font-size: 1em;
	padding: 1em 0;
	margin: 0;
}

.tab.selected:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background: var(--accent-color);
}


.card{
   background: var(--neutral-lighter-color);
	border-radius: 2px;
	overflow: hidden;
}

.box{
	position: relative;
   display: block;
	padding: 1em 1em;
   margin: 0.5em 1em;
}

.vertical-line, .horizontal-line{
	position: relative;
	margin: 2em 0;
	background: rgba(0, 0, 0, 0.1);
}
.vertical-line{
	display: inline-block;
	width: 1px;
	max-width: 1px;
	height: 100%;
}

.horizontal-line{
	display: block;
	width: 100%;
	height: 1px;
	max-height: 1px;
}

.drawer{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
	margin-left: -100%;
	z-index: 10;
	transition: margin-left 0.2s ease;
}
.drawer.right-shifted{
	margin-left: 0;
	transition: margin-left 0.2s ease;
}


/*
 *	Layout:
 */
.center{
	margin: 0 auto;
	text-align: center;
}

.horizontal-layout > *{
	position: relative;
	display: inline-block;
	height: 100%;
}
.vertical-layout > *{
	position: relative;
	display: block;
	width: 100%;
}

.flex-horizontal-layout{
	display: flex;
	flex-flow: row;
}
.flex-vertical-layout{
	display: flex;
	flex-flow: column;
}
.flex-horizontal-layout > *, .flex-vertical-layout > *{
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
}

.expanded{
	width: 100%;
	height: 100%;
}



/*
 *	Effects:
 */
.raised{
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	transition-delay: 0.2s;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
div.raised, main.raised, nav.raised, section.raised{
	box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.3);
}
header.raised{
	box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.3);
}
button.raised:active, a.raised:active, .dragging.raised {
	box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
}

.tinted{
	background: var(--accent-color);
	color: var(--neutral-lighter-color);
}
.tinted *{
	color: var(--neutral-lighter-color);
}

.silver{
	background: var(--neutral-silver-color);
	color: var(--neutral-darker-color);
}
.silver *{
	color: var(--neutral-darker-color);
}

.pale{
	background: var(--neutral-lighter-color);
	color: var(--neutral-darker-color);
}
.pale *{
	color: var(--neutral-darker-color);
}


/*
 *	Elements:
 */
.fab-container{
	position: fixed;
	bottom: 2em;
	right: 2em;

}
.fab{
	position: relative;

	min-width: auto;
	min-height: auto;
	height: auto;
	width: auto;

	padding: 0.8em;

	font-size: 1.6em;

	border-radius: 50%;
   background-color: var(--accent-color) !important;
   color: var(--neutral-lighter-color) !important;
	transition: opacity, background, 0.3s ease;
}
.fab:active{
   opacity: 0.7;
   transition: opacity 0.1s ease;
}

.fab-container > .fab{
	display: block;
	margin-top: 1em;
	font-size: 1.3em;
	padding: 0.6em;
}
.fab-container > .fab:last-child{
	font-size: 1.6em;
	padding: 0.8em;
}

.flat-button{
	position: relative;
	padding: 1em;
	color: var(--neutral-faded-color);
}

.flat-button.highlighted{
	color: var(--accent-color);
   font-weight: bold;
}

.flat-button:disabled{
	color: var(--neutral-faded-color);
	opacity: 0.5;
}



.form > input, .form > select, .form > button, .form > .label, .form > .radio-group{
   position: relative;
   display: block;
   width: 100%;
   margin: 1em 0;
}
.form > input, .form > select, .form > .label, .form > .radio-group{
   padding: 0.5em 1em;
   font-size: 1.1em;
}
.form > .label{
	color: var(--neutral-color);
}
.form > select, .form > select > option[value=""]{
	color: var(--neutral-faded-color);
}
.form > select > option{
	color: var(--neutral-color);
}


.radio-group > *{
	position: relative;
	display: block;
	width: 100%;
	margin: 0.5em 0;
	color: var(--neutral-faded-color);
}
.radio-group > .label{
   font-size: 0.8em;
}
.radio-group > label, .radio-group > input[type="radio"]{
	padding: 0.5em 1em;
   font-size: 0.7em;
}
.radio-group input[type="radio"]{
	margin-right: 0.5em;
}



li .primary{
	font-size: 1.1em;
	color: var(--neutral-dark-color);
}
li .secondary{
	font-size: 0.8em;
	color: var(--neutral-color);
}

.list{
	padding: 1em 0;
}
.list > li{

	position: relative;

   padding: 1.2em 1em;
   transition: background 0.3s ease;
}
.list > li:hover{
	background: rgba(0, 0, 0, 0.06);
	transition: background 0.2s ease;
}
.list > .selected{
	background: rgba(0, 0, 0, 0.08);
}

.list-fab{
	margin-bottom: 6em;
}

.list-bottom-button{
	padding: 0.6em;
}


.button-container{
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
}
.button-container > *{
	position: relative;
	flex-grow: 1;
	height: 100%;
}
.button-container > .material-icons{
	font-size: 1.5em;
}

.black-screen{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 8;
}

.dialog-container{
	position: relative;
	width: 30em;
	max-width: 80%;
	margin: 0 auto;
	padding: 4em 0;
}
.dialog-container > .content{
	max-height: 100%;
}

.dialog-container .button-container{
	width: 50%;
	float: right;
	height: 100%;
}
