
#background-app-bar{
   height: 8em;
}
#body-container{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 1em;
   background: none;
}


/*
 * Main frame:
 */
main{
   position: relative;
   width: 100%;
   height: 100%;
   padding: 2em;
   overflow: hidden;
}


main > section{
   overflow: hidden;
}



/*
 * Panels:
 */
#auth-panel, #chat-panel{
   display: flex;
   flex-direction: row;
   position: absolute;
   width: 200%;
   height: 100%;
   margin-left: 0%;
   top: 0;
   left: 0;


   background: var(--neutral-light-color);
   transition: margin-left 0.4s ease;
}
#auth-panel{
   z-index: 6;
}
#chat-panel{
   z-index: 4;
}




#login-section > *, #register-section > *:not(.app-bar){
   position: relative;
   margin: 2.5em auto;
   width: 35em;
   max-width: 85%;
}
#login-logo-container{
   margin: 0 auto;
   max-width: 100%;
}
.input-container > input, .input-container > button{
   position: relative;
   display: block;
   width: 100%;
   margin: 1em 0;
}
.input-container > input{
   padding: 0.5em 1em;
   font-size: 1.1em;
}


#login-logo-container{
   background: #f3a;
   height: 8em;
}

#login-register-button, #register-cancel-button{
   color: var(--accent-color);
   font-weight: bold;
}





#chat-panel > *, #auth-panel > *{
   position: relative;
   height: 100%;
   width: 100%;
   overflow: hidden;
}
#auth-panel > *{
   overflow-y: auto;
}

#chat-panel.left-shifted, #auth-panel.left-shifted{
   margin-left: -100%;
   transition: margin-left 0.4s ease;
}

#chat-vertical-line{
   display: none;
}


@media(min-width: 700px){
   #body-container{
      padding: 2em;
   }

   #login-section > *, #register-section > *:not(.app-bar){
      margin: 2.5em auto;
      max-width: 70%;
   }

   #chat-panel{
      width: 100%;
   }

   #chat-panel.left-shifted{
      margin-left: 0%;
   }

   #chat-vertical-line{
      display: inline-block;
      margin: 0;
   }

   #lobby-section{
      min-width: 30em;
      max-width: 30em;
   }


}


#feed-section{
   display: flex;
   flex-direction: column;
}

#feed-list{
   flex-grow: 1;
   overflow-y: auto;
}

#feed-list li[data-mine="true"]{
   align-items: flex-end;
}

#feed-list .message-info{
   color: var(--neutral-faded-color);
}
#feed-list .message-attachment[data-type="image"]{
   width: 14em;
   height: 14em;
   margin-bottom: 2em;
   background-position: center;
   background-size: cover;
   border: 0.5em solid var(--neutral-lighter-color);
}

#feed-section footer{
   position: relative;
}



#feed-message-input-container{
   /*padding: 1.3em 1.5em;*/
}


#feed-message-input-container.dragging{
   border: 4px dashed var(--neutral-faded-color);
}

#feed-message-input-container.dragging > *{
   opacity: 0.2;
}

#feed-message-input-container.dragging #feed-message-dragging-div{
   display: block;
   opacity: 1;
}
#feed-message-dragging-div{
   position: absolute;
   display: none;
   width: 100%;
   height: 100%;

   text-align: center;
   font-size: 1.6em;
   color: var(--neutral-color);
   z-index: 3;
}
#feed-message-dragging-div span{
   display: block;
   margin-top: 0.7em;
}

#feed-message-input-container > input[type='text']{
   padding: 0.8em 1em;
   font-size: 1.15em;
   min-width: 0;
   margin-right: 2em;
   color: var(--neutral-color);
}

#feed-message-input-container > .fab{
   flex-grow: 0;
   flex-shrink: 0;
}
